# Node modules
node_modules

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*

# Environment files
.env
.env.test
.env.production

# Build output
dist
build

# Uploads and cache
uploads/
.cache/

# OS files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/

# Face API Models and Uploads (if applicable)
src/models/
src/uploads/
